<mat-toolbar color="primary">

    <span class="logo">
        TaskFlow
    </span>

    <span class="spacer"></span>

    <button
        mat-button
        [matMenuTriggerFor]="menu">

        {{user.username}}

        <mat-icon>

            arrow_drop_down

        </mat-icon>

    </button>

</mat-toolbar>

<mat-menu #menu="matMenu">

    <button mat-menu-item>

        Profile

    </button>

    <button
        mat-menu-item
        (click)="logout()">

        Logout

    </button>

</mat-menu>